doctype html
html(lang="en")
  head
    title= data.Contact.Name
    meta(charset="UTF-8")
    style.
      @font-face {
        font-family: 'Fira Code';
        src: url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
      }

      html {
        font-family: 'Fira Code', Courier, monospace;

        background-color: white;
      }

      body {
        margin: 0;

        padding: 20px 20px 50px 30px;
        max-width: 800px;

        background-color: white;

      }

      hr {
        margin-top: 0;
        border-width: 1px;
        border-color: black;
      }

      h1 {
        margin-bottom: 0;
      }

      h2 {
        margin-bottom: 0;
      }

      h3 {
        margin-bottom: 0;
      }

      h4 {
        margin: 0;
      }

      ul {
        margin: 5px 0 0;
      }

      .pair {
        display: flex;
        align-items: baseline;
      }

      .pair .key {
        font-size: 1.25em;
        margin-right: 20px;
      }

      .pair p {
        margin-bottom: 0;
      }

      .summary p {
        text-align: justify;
      }

      .job {
        margin-bottom: 15px;
      }

      .date {
        float: right;
        margin-right: 30%;
      }

      .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 0;
      }

      .tags li {
        list-style: none;

        margin-right: 10px;
        margin-bottom: 5px;
        padding: 2px 5px;

        background-color: gray;
        color: white;
      }


  body
    header
      h1= data.Contact.Name
      article.pair
        h3.key Website
        p= data.Contact.Website
      article.pair
        h3.key Phone
        p!= data.Contact.Phone
      article.pair
        h3.key Email
        p= data.Contact.Email

    section.summary
      h2 Professional Summary
      hr
      p= data["Professional Summary"]
    section.work_experience
      h2 Work Experience
      hr
      each job in data['Work Experience']
        article.job
          .date!= job.Date
          h4.employer= job.Employer
          .position: i= job["Job Title"]
          ul.description
            each it in job.Description
              li= it
          ul.tags
            each it in job.Tags || []
              li= it
    section.education
      h2 Education
      hr
      each education in data.Education
        article.education
          .date!= education.Date
          h4.name= education.Name
          .degree: i= education.Degree
          ul.description
            each it in education.Description
              li= it
    section.languages
      h2 Languages
      hr
      each lang in data.Languages
        each value, key in lang
          article.pair
            p.key= key
            p= value
    section.skills
      h2 Additional Skills
      hr
      ul.skills
        each skill in data.Skills
          li= skill
